<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bc8ab5">  <td>19/07/26 11:29:57</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;RunnerTest.beforeTest()[pri:0, instance:com.newtglobal.restapi.test.runner.RunnerTest@149494d8]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@134310351</td>   <td></td> </tr>
<tr bgcolor="bc8ab5">  <td>19/07/26 11:29:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RunnerTest.setUp()[pri:0, instance:com.newtglobal.restapi.test.runner.RunnerTest@149494d8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@134310351</td>   <td></td> </tr>
<tr bgcolor="bc8ab5">  <td>19/07/26 11:29:58</td>   <td>436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RunnerTest.runner(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.newtglobal.restapi.test.runner.RunnerTest@149494d8]">runner</td> 
  <td>main@134310351</td>   <td></td> </tr>
<tr bgcolor="bc8ab5">  <td>19/07/26 11:30:39</td>   <td>41959</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RunnerTest.tearDownClass()[pri:0, instance:com.newtglobal.restapi.test.runner.RunnerTest@149494d8]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@134310351</td>   <td></td> </tr>
</table>
