<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d2a7e8">  <td>19/11/07 13:10:37</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;RoutingCabAllocationRunnerTest.beforeTest()[pri:0, instance:com.newtglobal.restapi.test.runner.RoutingCabAllocationRunnerTest@646007f4]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@22805895</td>   <td></td> </tr>
<tr bgcolor="d2a7e8">  <td>19/11/07 13:10:37</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RoutingCabAllocationRunnerTest.setUp()[pri:0, instance:com.newtglobal.restapi.test.runner.RoutingCabAllocationRunnerTest@646007f4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@22805895</td>   <td></td> </tr>
<tr bgcolor="d2a7e8">  <td>19/11/07 13:10:37</td>   <td>482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RoutingCabAllocationRunnerTest.runner(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.newtglobal.restapi.test.runner.RoutingCabAllocationRunnerTest@646007f4]">runner</td> 
  <td>main@22805895</td>   <td></td> </tr>
<tr bgcolor="d2a7e8">  <td>19/11/07 13:10:55</td>   <td>18235</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RoutingCabAllocationRunnerTest.tearDownClass()[pri:0, instance:com.newtglobal.restapi.test.runner.RoutingCabAllocationRunnerTest@646007f4]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@22805895</td>   <td></td> </tr>
</table>
